<ul class="buddy-list">
{{#each activeUsers}}
	{{#if active}}
		<li class="active"><a href='#' class="buddy-link " data-user="{{username}}">{{username}}</a></li>
	{{else}}
		<li><a href='#' class="buddy-link " data-user="{{username}}">{{username}}</a></li>
	{{/if}}
	
	
{{/each}}
</ul>